@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.authactionbtn{
  background: rgb(105,15,33);
background: -moz-linear-gradient(90deg, rgba(105,15,33,1) 0%, rgba(198,31,65,1) 35%);
background: -webkit-linear-gradient(90deg, rgba(105,15,33,1) 0%, rgba(198,31,65,1) 35%);
background: linear-gradient(90deg, rgba(105,15,33,1) 0%, rgba(198,31,65,1) 35%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#690f21",endColorstr="#c61f41",GradientType=1);
}
.iconbtn{

}
.iconbtn:hover{
  color: #C61F41;
}
.bottombtn{
  background: rgb(105,15,33);
}
p{
  color:'black';
  font-family:var(--font-poppins);
}
.bottomnav{
  background-color: rgb(44, 2, 10);
  padding: 8px;
}
.homebtn{
  color:#573b41;
  cursor:pointer;
}
.home:hover{
  color:#f0e7e9;
}
.homebtnselected{
  color:#C61F41;
  cursor: pointer;
}
.backgrounds{
  min-height: 100vh;
  background: rgb(27,3,0);
background: -moz-linear-gradient(24deg, rgba(27,3,0,1) 42%, rgba(44,4,10,1) 71%);
background: -webkit-linear-gradient(24deg, rgba(27,3,0,1) 42%, rgba(44,4,10,1) 71%);
background: linear-gradient(24deg, rgba(27,3,0,1) 42%, rgba(44,4,10,1) 71%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b0300",endColorstr="#2c040a",GradientType=1);
}
.gradtest{
  background: -webkit-linear-gradient(297deg, rgba(194,127,8,1) 33%, rgba(245,186,79,1) 87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ungradtext{
  color:#ac915fd2;
}
.accountinfo{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
width:90%;
margin: 12px;
height:20vh;
}
.headers{
  color:#C61F41;
  background-color: #573b41;
  height: 45px;
  font-family:var(--font-pops);
}
.rowsofdata{
  background-color: #573b41;
  height: auto;
  font-family:var(--font-lilpops);
  font-size: 12px;
  padding: 8px;
  font-weight: 200;
  border: 1px solid gray;
  border-radius: 3px;
}
.odds{
  background-color: #C61F41;
  color: #f0e7e9;
  padding:8px;
  font-family:var(--font-lilpops);
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}
.betTab{
  padding: 15px;
  border-radius: 3px 10px 10px 10px;
  background-color: #971831;
}
.betTabSelected{
  padding: 15px;
  border-radius: 3px 10px 10px 10px;
  background-color: #e4264c;
}