@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color:whitesmoke;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.authactionbtn{
  background: #5f087c;
  border: 1px solid #b650d8;
}
.iconbtn{

}
.iconbtn:hover{
  color: #981FC0;
}
.bottombtn{
  background: rgb(105,15,33);
}
p{
  color:"#0C090D";
  font-family:var(--font-poppins);
}

@keyframes slideUp {
  to {
     transform: translateY(0); /* End at its original position */
  }
 }
 
.bottomnav{
  background-color: #38003c;
  padding: 8px;
  border-radius: 10px;
  border: 0.6px solid #981FC0;
  margin-bottom: 10px;
  animation: slideUp 1s ease-out forwards;
  transform: translateY(100%);
}
.homebtn{
  color:#d5d2ff;
  cursor:pointer;
}
.home:hover{
  color:#f0e7e9;
}
.homebtnselected{
  color:#981FC0;
  cursor: pointer;
}
.backgrounds{
  margin-top: -10px;
  min-height: 100vh;
  padding-top: 12px;
  overflow-x: hidden;
  width: 100%;
  background: rgba(152, 31, 192, 0.74);
  background: linear-gradient(3deg, rgba(152,31,192,1) 56%, rgba(63,16,82,1) 100%);
 }
.gradtest{
  background: -webkit-linear-gradient(297deg, rgba(194,127,8,1) 33%, rgba(245,186,79,1) 87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ungradtext{
  color:#ac915fd2;
}
.accountinfo{
  /* From https://css.glass */
background: rgba(77, 3, 3, 0.2);
border-radius: 10px;
width:90%;
margin: 12px;
min-height:15vh;
padding: 12px;
}
.headers{
  color:#981FC0;
  background-color: #3F1052;
  height: 45px;
  display: flex;
  font-family:var(--font-pops);
}
.rowsofdata{
  background-color: rgba(77, 3, 3, 0.2);;
  height: auto;
  font-family:var(--font-lilpops);
  font-size: 12px;
  padding: 8px;
  font-weight: 200;
  border-radius: 3px;
}
.odds{
 
  color:#e4264c;
  background-color: whitesmoke;
  padding:4px;
  font-family:var(--font-lilpops);
  font-size: 12px;
  border-radius: 5px;
  font-weight: 200;
  text-align: center;
  min-width: 85px;
  display: inline;
  height:34px;
}
 .odds-fix{
color:#e4264c;
background-color: whitesmoke;
padding:0;
font-family:var(--font-lilpops);
border-radius: 5px;
font-weight: 200;
text-align: center;
min-width: 50px;
display: inline;
height:34px;
}
.betTab{
  padding: 8px;
  border-radius: 3px 10px 10px 10px;
  background-color: #3F1052;
  cursor:pointer;
  border: 1px solid #981fc0e3;
  width: auto;
  height: 100px;
  text-align: center;
}
.betTabSelected{
  padding: 10px;
  border-radius: 3px 10px 10px 10px;
  background-color: #981FC0;
  cursor:pointer;
  border:1px solid #661980;
  width: auto;
  height: 100px;
  text-align: center;
}
.acctext{
  font-size: small;
  font-family:var(--font-lilpops);
  flex:1;
}
.avatar{
  background-color: white;
  border-radius: 100px;
}
p{
  color:white;
}
.navBar{
  /* From https://css.glass */
background:#38003c ;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.3px);
-webkit-backdrop-filter: blur(9.3px);
}
Icon{
  color:white;
}
.payment-options{
  background-color: #573b41;
  padding: 10px;
  border-radius: 8px;
  margin: 8px;
}
.standard-input{
  color:rgb(73, 39, 39);
  background-color: #d4cdce;
  padding:8px;
  border:1px solid #7e7777;
  border-radius: 6px;
  min-width: 300px;
  max-width: 85%;
  height: 45px;
}
.standard-input:focus{
  outline: 2px solid #585656;     /* oranges! yey */
}
.arrange-label{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.history{
  /* From https://css.glass */
background: rgba(238, 183, 183, 0.22);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.9px);
-webkit-backdrop-filter: blur(8.9px);
width:100%;
min-height:100vh;
overflow-y: auto;
}
.cancelbrn{
  position: fixed;
  bottom: 5vh;
  left: 45%;
  background: rgba(238, 183, 183, 0.22);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.9px);
-webkit-backdrop-filter: blur(8.9px);
border-radius: 25px;
padding: 12px;
}
.cancelbrnmatch{
  position: fixed;
  top: 80vh;
  left: 80%;
  background: rgba(238, 183, 183, 0.22);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.9px);
-webkit-backdrop-filter: blur(8.9px);
border-radius: 25px;
padding: 12px;
}
.placerstyles{
  min-width: none;
  min-height: 300px;
  background: rgb(27,3,0);
background: -moz-linear-gradient(24deg, rgba(27,3,0,1) 42%, rgba(44,4,10,1) 71%);
background: -webkit-linear-gradient(24deg, rgba(27,3,0,1) 42%, rgba(44,4,10,1) 71%);
background: linear-gradient(24deg, rgba(27,3,0,1) 42%, rgba(44,4,10,1) 71%);
padding:16px;
font-family:var(--font-lilpops);
}
.figures{
  padding:12px;
  min-width: 50px;
  text-align: center;
  color:whitesmoke;
  background-color: #ad1c39;
  border-radius: 5px;
  font-family:var(--font-lilpops);
}
.countdown-container{
  width:100%;
  padding:4px;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  color: #c2a4a4;
}
.match-countdown-container{
  width:auto;
  height:50px;
  padding:4px;
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
  color:rgb(248, 163, 53);
}
.homecol, .awaycol, .drawcol{
  background-color: #981FC0;
  padding: 8px;
  border-radius: 12px;
  width: 100%;
}
.transactionrow{
  padding: 12px;
  margin: 8px;
  max-width: 320px;
  height: auto;
  color:whitesmoke;
  border-radius: 5px;
  background-color: #3F1052;
}
.drawops{
  color: aliceblue;
  font-size: larger;
  font-weight: 600;
  font-family:var(--font-lilpops);
}
.drawopstop{
  color: #CCA354;
  font-size: larger;
  font-weight: 600;
  font-family:var(--font-lilpops); 
}
.betd-text{
  color:whitesmoke;
  font-size: 12px;
  font-family:var(--font-lilpops);
}
.translate-txt{
  padding:10px;
  color:whitesmoke;
  font-size: 12px;
  font-family: var(--font-lilpops);
  font-weight: 500;
  background-color: #28262C;
  border-radius: 5px;
  width: 200px;
}
.title-faq{
  font-family: var(--font-lilpops);
  font-weight: 800;
  font-size: larger;
}
.amun{
  font-family: var(--font-lilpops);
  font-weight: 500;
}
.skiptranslate {
  display: none !important;
  height: 0;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
 }
  50% {
    transform: translateY(20px);
 }
}

@keyframes scaleUpDown {
  0%, 100% {
    transform: scale(1); /* Start and end at 100% scale */
 }
  50% {
    transform: scale(1.5); /* Scale up to 150% at the midpoint */
 }
}

.cvn {
  animation: moveUpDown 2s ease-in-out infinite;
}

.classicbtn{
  background:#38003c;
  border: 1px solid #981FC0;
  width:100%;
  padding:8px;
  margin:4px;
  border-radius: 15px;
}

.loadingimg{
  background-color: whitesmoke;
  padding: 12px;
  border-radius: 50%;
  border: 1px solid #981FC0;
  animation: scaleUpDown 2s ease-in-out infinite;
}

.headies {
  width: 100%;
  padding: 16px;
  background-color: #e7e7e7;
  border-radius: 10px 10px 030px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title2 {
  color: #5f087c;
  font-weight: 700;
  font-size: 29px;
  word-spacing: 2px;
  font-family: var(--font-suma);
  font-style: bold;
}

.title1 {
  color:#981FC0;
  font-size: 29px;
  word-spacing: 2px;
}

.live {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

.live-contain {
  background: #981FC0;
  border-radius: 12px;
  width: 300px;
  border: 1px solid #5f087c;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.live1 {
  padding: 8px; display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.live-title {
  color: #5f087c;
  font-weight: 700;
  font-size: 20px;
  word-spacing: 2px;
  font-family: var(--font-suma);
  font-style: bold;
  color: #d4cdce;
}

.live-title1 {
  color: #d24aff;
  font-weight: 700;
  font-size: 20px;
  word-spacing: 2px;
  font-family: var(--font-suma);
  font-style: bold;
  padding: 4px;
}

.live-title-contain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60px;
}

.live2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mtxt {
  text-align: center;
  color: #ffffff;
  font-family: var(--font-suma);
}

.mleague {
  font-size: small;
  width: 100px;
  font-family: var(--font-pops);
  color: #d24aff;
  font-weight: 200;
}

.mscore {
  font-size: larger;
  color: orange;
  font-family: var(--font-suma);
  font-weight: bolder;
}

.next-contain {
  padding: 12px;
  margin: 10px;
  min-width:350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max-content;
  border-radius: 10px;
  background-color: #661980;
}

.next-title {
  font-weight: bolder;
  font-family: var(--font-suma);
  font-style: bold;
  width: 100%;
  color: #d4cdce;
  text-align: left;
  padding: 8px;
}

.live-containx {
  background: #981FC0;
  max-width: 90vw;
  min-width: 330px;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.analytics-div  {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  background-color: #661980;
}

.analytic-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.new-concept {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #661980;
  padding: 8px;
  flex-wrap: wrap;
  border-radius: 10px;
}

.new-icon {
  margin: 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25%;
  align-items: center;
  background-color: #f0e7e9;
  font-weight: 100;
}

.new-icon p {
  color: #5f087c;
  font-family: var(--font-lilpops);
  font-size: 10px;
}

@property --num {
  syntax: '<integer>';
  initial-value: 12000;
  inherits: false;
 }
 
 .number {
  animation: animate 15s forwards;
  counter-reset: num var(--num);
  font-weight: bold;
  font-size: 1.5rem;
  font-family: sans-serif;
  padding: 1rem;
 }
 
 .number::before {
  content: counter(num);
 }
 
 @keyframes animate {
  from {
     --num: 960;
  }
  to {
     --num: 18452;
  }
 }

 @property --numx {
  syntax: '<integer>';
  initial-value: 210;
  inherits: false;
 }

 .numberx {
  animation: animatxe 10s forwards;
  counter-reset: numx var(--numx);
  font-weight: bold;
  font-size: 1.5rem;
  font-family: sans-serif;
  padding: 1rem;
 }
 
 .numberx::before {
  content: counter(numx);
 }
 
 @keyframes animatxe {
  from {
     --numx: 210;
  }
  to {
     --numx: 13760;
  }
 }

 .decision-x {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  background-color: #3F1052;
  padding: 8px;
  flex-wrap: wrap;
 }

 .main-account  {
  width: 100%;
  min-height: 300px;
  background-color: transparent;
  padding: 15px;
  display: flex;
  flex-direction: column;
 }

 .main-header   {
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
 }

 .main-title  {
  color: whitesmoke;
  font-family: var(--font-suma);
  font-weight: bolder;
  font-size: 25px;
  flex: 1;
  text-align: center;
 }

 .azabalance  {
  font-family: var(--font-walter);
  font-size: 40px;
  font-weight: 400;
  padding: 20px;
  width: auto;
  text-align: center;
  font-style: bold;
 }

 .icon-con  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width:78px;
  text-align: center;
  align-items: center;
  padding: 8px;
 }

 .onhead  {
  background-color: #981FC0;
  color: #38003c;
  border-radius: 10%;
  padding: 8px;
  font-size: small;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-family: var(--font-lilpops);
 }

 .betspent  {
  width: 310px;
  border: 0.6px solid #3F1052;
  height: auto;
  background-color: #981FC0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
 }

 .amount-hold {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  font-family: var(--font-suma);
 }

 .amount-txt {
  color: #5f087c;
  font-family: var(--font-suma);
  height: 40px;
  padding: 8px;
 }

 .inmap {
    padding: 8px;
    color: #981FC0;
    background-color: whitesmoke;
    margin: 5px;
    width: 55px;
    text-align: center;
 }

 .mapcontain  {
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
 }