@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.authactionbtn{
  background: rgb(105,15,33);
background: -moz-linear-gradient(90deg, rgba(105,15,33,1) 0%, rgba(198,31,65,1) 35%);
background: -webkit-linear-gradient(90deg, rgba(105,15,33,1) 0%, rgba(198,31,65,1) 35%);
background: linear-gradient(90deg, rgba(105,15,33,1) 0%, rgba(198,31,65,1) 35%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#690f21",endColorstr="#c61f41",GradientType=1);
}